.container {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.link-box {
    background-color: #3f3f3f;
    color: white;
    border: none;
    width: 230px;
    height: 20px;
    padding: 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 20px;
    text-decoration: none;
}

.link-box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.link-box:hover {
    background-color: #555;
    transform: scale(1.05);
}

#title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

body {
    font-family: Arial, sans-serif;
}

#word-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.word-box {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.word-box h3 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
}

.word-box p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.word-box p:first-child {
    font-weight: bold;
}

.word-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #3f3f3f;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px;
    width: 270px;
    height: 55px;
    position: absolute;
    bottom: 10px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

.maincontainer {
    display: flex;
}

.container h2 {
    padding-left: 20px;
}